body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0,100%,63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
  --heading-font: "Poppins";
  --heading-weight: 700;
  --body-font: "Open Sans";
}
h2, h1 { 
  font-family: var(--heading-font);
  font-weight: var(--heading-weight);
  color: var(--dark-cyan);
}

p { 
  font-family: var(--body-font);
  color: var(--dark-cyan);
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-family: var(--heading-font);
  font-weight: var(--heading-weight);
  font-size: 1.5em;
}

.title > img {
  width: 30%;
}

.button {
  background-color: transparent;
  border-radius: 20px;
  border: none;
  font-family: var(--body-font);
}

.button:hover {
  cursor: pointer;
}

.button-overline {
  border: var(--light-pink) solid 1px;
  color: var(--light-pink);
  font-weight: 500;
  font-size: 0.8em;
  padding: 0.3rem 1rem;
}

.button-primary {
  background-color: var(--pink);
  color: white;
  border-radius: 50px;
  padding: 1rem 3rem;
  font-weight: 600;
  box-shadow: 0px 1px 5px var(--dark-cyan);
}

.section-title {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title > h1 {
   font-size: 2em;
  padding: 0;
   margin-bottom: 0.2rem;
}

.section-title > p {
  font-size: 1em;
  font-weight: 600;
  width: 50%;
  text-align: center;
  margin-bottom: 2rem;
}

.section-title > img {
  margin-top: 5rem;
  width: 70%;
}

.section-numbers {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 15rem;
  align-items: center;
  padding: 2rem 4rem;
}

.number-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.number-container > img {
  width: 20%;
  padding: 0;
  margin: 0;
}

.number-container > h2 {
  margin: 0;
  font-size: 3.5em;
}

.number-container > p {
  text-align: center;
  width: 100%;
  margin: 0;
  color: rgb(123, 130, 138);
  font-family: var(--body-font);
}

section.info-container > img{
  display: block;
  width: 100%;
}

section.info-container > div {
  margin: 0;
  display: flex;
  gap: 7rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 5rem;
  background-color: rgb(246, 251, 255);
}

section.info-container .content {
  margin: 0;
}

section.info-container .content > h2{
  margin-top: 0;
  font-family: var(--heading-font);
  font-weight: var(--heading-weight);
  font-size: 2em;
  color: var(--dark-cyan);
}

section.info-container .content > p {
  font-family: var(--body-font);
  font-size: 1em;
  color: var(--dark-cyan);
  font-weight: 600;
}

section.info-container > div > img {
  width: 50%;
}

section.footer { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 ;
}

footer {
  display: flex;
  margin: 0;
  background-color: var(--dark-cyan);
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 5rem;
  gap: 6rem;
  color: var(--pale-blue);
}

footer .title > img {
  filter: brightness(0) invert(1);
  width: 13%;
}

footer .title > h2{
  color: var(--pale-blue);
  font-size: 2em;
  margin: 0
};

footer .info-container > * {
  color: white;
}

@media screen and (max-width: 650px) {

  .section-title p {
    width: 80%;
    font-size: 0.9em;
  }

  .section-title h1 { 
    text-align: center;
    width: 80%;
    font-size: 1.7em;
  }

  .section-numbers {
    flex-direction: column;
    gap: 3rem
  }

  .number-container h2 {
    font-size: 4em;
    width: 100%;
    text-align: center;
  }

  section.info-container > div {
    flex-direction: column-reverse;
    padding: 3rem 1rem;
    align-items: center;
  }

  section.flowing-conversations > div {
    flex-direction: column;
  }

  section.info-container > div > img {
    width: 70%;
  }

  section.info-container .content {
    text-align: center;
  }

  section.info-container .content > p {
    width: 70%;
    margin: auto;
  }
  section.footer { 
    text-align: center;
  }
  footer { 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
